@font-face {
    font-family: 'Digital7';
    src: url('font/Digital-7.woff2') format('woff2'),
        url('font/Digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    display: flex;
    position: relative;
}
.main_container{
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 1;
    position: relative;
    padding: 20px;
    padding-right: 170px;
}
.name{
    z-index: 2;
    writing-mode: sideways-lr;
    width: fit-content;
    height: 99.5vh;
    position: fixed;
    padding-top: 20px;
    .p1{
        color: white;
        font-family: 'Orbitron', sans-serif;
        font-size: 60px;
        margin: 0;
        text-align: end;
    }
    .p2{
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        color: #FF8C42;
        text-align: end;
        margin: 0;
    }
}
.calc_container{
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 30px;
    background-color: #2C2C2C;
    box-shadow:
        inset 5px 5px 10px rgba(255, 255, 255, 0.15), 
        inset -5px -5px 10px rgba(0, 0, 0, 0.3),           
        15px 15px 30px rgba(0, 0, 0, 0.6);               
}
.screen_container{
    background-color: #767c5b;
    height: 125px;
    width: 700px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-family:'Digital7', monospace;
        font-size: 100px;
    }
}
.button_container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    button{
        all:unset;
        cursor: pointer;
        background-color: #FF8C42;
        padding: 10px;
        width: 100px;
        text-align: center;
        font-family:'Orbitron', sans-serif;
        font-size: larger;
        border-radius: 20px;
        box-shadow:
        inset 5px 5px 10px rgba(255, 255, 255, 0.25), 
        inset -5px -5px 10px rgba(0, 0, 0, 0.3),       
        15px 15px 30px rgba(0, 0, 0, 0.5);            
    }
    button:hover{
        background-color: #FFA65C;
    }
    button:active {
        background-color: #E07B32;
    }
}
.field_container{
    padding-left: 10px;
    padding-right: 10px;
}
.entry{
    border-top: 1px solid gray;
    margin-bottom: 20px;
}
.up{
    label{
        color: white;
        font-family: 'Orbitron', sans-serif;
        font-size: 40px;
    }
}
.down{
    display: flex;
    label{
        color: white;
        font-family: 'Orbitron', sans-serif;
        font-size: 30px;
    }
    input{
        all:unset;
        border-bottom: 1px solid white;
        margin-left: 20px;
        caret-color: white;
        color: white;
        font-family: 'Orbitron', sans-serif;
        width: 190px;
        text-align: center;
        font-size: 30px;
    }
    p{
        width: 47px;
    }
}
.search{
    z-index: 2;
    width: 300px;
    height: 99.5vh;
    position: fixed;
    padding-top: 40px;
    right: 0;
}
.search_container{
    margin-top: 10px;
    max-height: 350px;
    overflow-y: auto;
}
#searchBox{
    all: unset;
    height: 30px;
    width: 240px;
    padding-inline: 20px;
    caret-color: white;
    color: white;
    font-family: 'Orbitron', sans-serif;
    border-radius: 20px;
    background-color: #2C2C2C;
    position: fixed;
    box-shadow:
        inset 5px 5px 10px rgba(255, 255, 255, 0.25), 
        inset -5px -5px 10px rgba(0, 0, 0, 0.3),       
        15px 15px 30px rgba(0, 0, 0, 0.5);
}
#suggestions{
    padding-top: 50px;
    padding: 10px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 17px;
    z-index: 1000;
    width: 230px;
}
.fill{
    height: 30px;
}

#resultsContainer{
    margin-top: 10px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 17px;
    padding-top: 0;
    padding-inline: 15px;
}

.remove_btn{
    all: unset;
    color: orange;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
}

.suggestion-item{
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
}

.result-item{
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media (max-width:380px){
    .search{
        display: none;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    .name{
        position: static;
        writing-mode: horizontal-tb;
        width: auto;
        height: 40px;
        z-index: 1;
        margin-bottom: 30px;
        .p1{
            font-size: 35px;
            text-align: center;
        }
        .p2{
            font-size: 5px;
            margin: 0;
            text-align: end;
            margin-right: 20px;
        }
    }
    .main_container{
        position: static;
        width: 375px;
        justify-content: center;
        padding: 10px;
        z-index: 1;
        
    }
    .calc_container{
        width: 330px;
    }
    .screen_container{
        width: 315px;
        height: 70px;
        #para{
            font-size: 45px;
            width: 315px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
    }
    .button_container{
        justify-content: space-between;
        padding-inline: 20px;
    }
    .up{
        label{
            color: white;
            font-family: 'Orbitron', sans-serif;
            font-size: 30px;
        }
    }
    .down{
        display: flex;
        label{
            color: white;
            font-family: 'Orbitron', sans-serif;
            font-size: 20px;
        }
        input{
            all:unset;
            border-bottom: 1px solid white;
            margin-left: 10px;
            caret-color: white;
            color: white;
            font-family: 'Orbitron', sans-serif;
            width: 60px;
            height: 22px;
            text-align: center;
            font-size: 20px;
        }
    }
    .entry{
        margin-bottom: 6px;
        padding-top: 6px;
    }
}

